
//- Este archivo contendría la estructura base de tu HTML

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title ? title + ' - Artesanos.com' : 'Artesanos.com'}
    
    // Enlaces a Google Fonts (para Playfair Display e Inter)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap", rel="stylesheet")

    // Enlaces a Bootstrap CSS y tu CSS personalizado
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css") 
    
    // Enlace a Font Awesome para los iconos
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

  body
   
    block content

    // Scripts de Bootstrap JS y tu JS personalizado
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
    
    script(src="/js/app.js")
